@inherits MusicPlayer

<div style="flex-direction: column" class="d-flex w-100">
    <nav class="navbar bg-primary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Star Wars DND Soundboard</a>
            <button type="button" class="btn btn-primary" @onclick="() => LoopAudio()">
                <svg width="16" height="16" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16">
                    <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z"></path>
                </svg>
                @loopMsg
            </button>
        </div>
    </nav>
    <div class="row pt-4 p-5 container-fluid" style="margin-top: 60px;">
        @if (AudioSource.Count > 0)
        {
            @foreach (var file in AudioSource)
            {
                <div class="d-grid gap-2 pb-4 w-100 align-self-center">
                    <button type="button" class="btn btn-primary btn-lg" @onclick="() => PlayAudio(file)">@Path.GetFileNameWithoutExtension(file)</button>
                </div>
            }
        }
        else
        {
            <p>No audio files found.</p>
        }
    </div>
    <div class="row p-3 w-100 position-fixed bottom-0">
        <audio controls="controls" id="audioPlayer">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>